  
.bullet{
    display: "inline-block";
    margin: "0 2px";
    transform: "scale(0.8)";
}
  
.title{
    font-size: 14;
}
  
.pos{
    margin-bottom: 12;
}

.inline {
    display: 'inline';
}

.irrigation {
    display: 'inline';
    float: right;
}

.Item_req{
    width: 95%;
    background-color: white;
    margin: 10px;
    box-shadow: 5px 10px beige;
    border: 2px solid black;
}
